<!doctype html>
<html lang="en">

<head>
  <title>Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <scrip.t src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <style>
      .bg-1 {
        background-color: #ffffcc
      }

      .bg-2 {
        background-color: #474e5d
      }

      .bg-3 {
        background-color: #474e5d
      }
    </style>
</head>

<body>
  <div class="container-fluid bg-1 text-center">
    <h2> Who am I? </h2>
    <img src="assets/images/profile.jpg" class="img-circle" alt="Profile Picture" width="400" height="400">
    <h3> I am Osaze Edo-Osagie </h3>
  </div>
  <div class="container-fluid bg-2 text-left">
    <h3> What Am I </h3>
    <h4> A Software Engineer graduate from the University of Hertfordshire with a masters in Management of IT, from the University
      of Nottingham
    </h4>
  </div>
  <div class="container-fluid bg-3 text-right">
    <h3> Where to Find Me </h3>
    <h4> I reside in Ikoyi, Lagos </h4>
  </div>

</body>

</html>
