<!doctype html>
<html lang="en">

<head>
  <title>Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <scrip.t src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <style>
      .bg-1 {
        background-color: #ffffcc
      }

      .bg-2 {
        background-color: #474e5d;
        color: #ffffff;
      }

      .bg-3 {
        background-color: #474e5d;
        color: #ffffff;
      }

      .bg-4 {
        background-color: #1abc9c;
      }

      .txt-col {
        color: black;
      }

      .containerPad {
        padding-top: 70px;
        padding-bottom: 70px
      }

      .textPad1 {
        margin: .1em .1em 0;
      }
    </style>
</head>

<body>
  <div class="container-fluid containerPad bg-1 text-center">
    <h2> Who am I? </h2>
    <img src="assets/images/profile.jpg" class="img-circle" alt="Profile Picture" width="250" height="250">
    <h3> I am Osaze Edo-Osagie </h3>
  </div>

  <div class="container-fluid bg-2 text-left">
    <div class="row">
      <div class="col-sm-6">
        <h4> What Am I </h4>
        <h5> A Software Engineer graduate from the University of Hertfordshire with a masters in Management of IT, from the University
          of Nottingham </h5>
      </div>
      <div class="col-sm-6">
        <h4> Where to Find Me </h4>
        <h5> I reside in Ikoyi, Lagos </h5>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-1 containerPad text-center">
    <div class="row">
      <div class="col-sm-12">
        <h4> About Me </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <button type="button" class="btn btn-link btn-lg txt-col">Education</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-link btn-lg txt-col">Experience</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-link btn-lg txt-col">Skills</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-link btn-lg txt-col">Hobbies</button>
      </div>
    </div>
    <div class="row text-left containerPad">
      <div class="col-sm-12">
        <h4> Education </h4>
        <h5 class="textPad1"> <strong> 2014 – September 2015, University of Nottingham, UK </strong> </h5>
        <p> MSc (Hons) Management of Information Technology, Awarded Degree: Merit <br> Modules: Web Programming and Scripting,
          Collaboration and Communication Technologies, Introduction to Human Computer Interaction, Methods for Understanding
          Users in Computer Science, Database Systems, Introduction to Computer Programming and Development, New Media Design,
          Mobile Device Programming, Mixed Reality, Management of IT. Project in the Management of Information Technology:
          Mobile Phone Application Prototype Based On a Collaborative Experience at a Music Festival </p> <br>

        <h5 class="textPad1"> <strong> September 2011 – May 2014, University of Hertfordshire, UK </strong> </h5>
        <p> BSc (Hons) Computer Science, Software Engineering, Degree qualification: 2:1 <br> Modules: Operating Systems and
          Computer Networks, Programming and Program Design, Preparation for Professional Placement in Computer Science,
          Data Management and Applications, Further Object-Oriented Development, Programming Language Design & Implementation,
          Advanced Databases. Software Engineering Project (Final Year): Design and Development of Mobile Application Based
          on Child Learning </p><br>

        <h5 class="textPad1"> <strong>January 2011 – August 2011, Westerfield College; Lagos, Nigeria </strong> </h5>
        <p>
          Foundation results (5 passes) including B in Mathematics and A in English. </p> <br>

        <h5 class="textPad1"> <strong> September 2004 – July 2010, Igbinedion Education Centre; Edo-State, Nigeria </strong> </h5>
        <p>
          GCSE results (8 passes) including C Mathematics and English. </p> <br> <br> <br>

        <h4> Work Experience </h4>
        <h5 class="textPad1"> <strong> June 2016 – July 2017, (NYSC) First Marina Trust Limited, Lagos, Nigeria </strong> </h5>
        <p>Served as a youth-corps member at first marina trust limited. I worked in the operations department where my responsibilities
          included creating and maintaining customer profiles and accounts, posting (handling) transactions, filing of documents,
          updating the daily cheque schedule, raising vouchers (details of the transaction), and recording of transactions
          made.
        </p> <br>

        <h5 class="textPad1"> <strong> October 2015 – January 2016, Arc Recruitment, Hospitality Team Member, London, UK </strong> </h5>
        <p> Worked with Arc Recruitment agency as a hospitality team member. I worked for different events at different locations.
          I worked with teams, where we ensured the satisfaction of guests with the service we provide. I always had to be
          enthusiastic and willing to help a guest at any time. In this position I worked as a waitress, wine waiter, and
          core team member. As a core team member, I ensure that the service essentials needed for an event is always ready
          and set to go on time. </p> <br>

        <h5 class="textPad1"> <strong>November 2013 – September 2014, University of Hertfordshire, Student Ambassador, Hatfield, UK </strong> </h5>
        <p>Worked with the UK Recruitment team and other departments at on-campus and off-campus activities. I was a positive
          student role-model encouraging young people to consider the university as a viable and attractive option. I offered
          support to all the young adults/children and fellow staff members involved in the activities, in a safe and friendly
          manner. I also worked in teams most of the time, as it worked better dealing with the kind of crowd I worked with.
        </p> <br>

        <h5 class="textPad1"> <strong>September – December 2010, Fashion World, Marketer/Sales Assistant, Edo-State, Nigeria </strong> </h5>
        <p>Marketed the company’s product to potential clients and customers. Registered new clients and updated the client’s
          book of records. Also, worked with a busy team in which, sometimes, was made team leader. Even when under pressure,
          we always produced quality results. An example is the last project I had where I worked in teams, although I felt
          out of place in the team, by being proactive I was able to motivate them well enough to finish our project before
          the due date. </p> <br> <br> <br>
      </div>
    </div>
  </div>

</body>

</html>
